In [1]:
# Lists are stored in []
movies = ['Spongebob', 'Dora', 'Jenifa_diaries', 'Romeo_Juliet', 'Titanic']

In [2]:
# Accessing lists using index
movies.index('Dora')

1

In [3]:
movies[1:3+1]

['Dora', 'Jenifa_diaries', 'Romeo_Juliet']

In [4]:
# to add a new list use the append method
movies.append('Boys Before Flowers')

In [5]:
movies

['Spongebob',
 'Dora',
 'Jenifa_diaries',
 'Romeo_Juliet',
 'Titanic',
 'Boys Before Flowers']

In [6]:
# changing items in a lis
movies[1]= 'Spider Man'
movies

['Spongebob',
 'Spider Man',
 'Jenifa_diaries',
 'Romeo_Juliet',
 'Titanic',
 'Boys Before Flowers']

In [7]:
#To sort a list in descending order
movies.sort(reverse = True)
movies

['Titanic',
 'Spongebob',
 'Spider Man',
 'Romeo_Juliet',
 'Jenifa_diaries',
 'Boys Before Flowers']

In [8]:
#To sort a list in ascending order
movies.sort(reverse = False)
movies

['Boys Before Flowers',
 'Jenifa_diaries',
 'Romeo_Juliet',
 'Spider Man',
 'Spongebob',
 'Titanic']

In [9]:
# to add a list based on a specific location
movies.insert(2, 'Bluey')
movies

['Boys Before Flowers',
 'Jenifa_diaries',
 'Bluey',
 'Romeo_Juliet',
 'Spider Man',
 'Spongebob',
 'Titanic']

In [10]:
sizes = ['xs', 's', 'l', 'xl', 'xxl']

'm'in sizes

False

In [11]:
if 'm' in sizes:
    print('I will take the medium pls')
elif 's' in sizes:
    print('It will be too tight but small will do')
else:
    print('I will wait till you have medium')

It will be too tight but small will do

In [12]:
movies[:3]

['Boys Before Flowers', 'Jenifa_diaries', 'Bluey']

In [13]:
movies[2::4]

['Bluey', 'Titanic']

In [14]:
customer_list = [
    'C00001', 'C00003', 'C00004', 'C00005', 'C00006',
    'C00007', 'C00008', 'C00009', 'C00010', 'C00013', 
    'C00014', 'C00015', 'C00016', 'C00020', 'C00004', 
    'C00017', 'C00019', 'C00002', 'C00008', 'C00021',
    'C00022'
]

In [15]:
# Return 99.99 if C00009 made a purchase; otherwise return 0.0
# Create separate lists for the 5th   and 6th customers, every third customer, and the last 2 customers, weâ€™re conducting market research

('C00009' in customer_list) * 99.99

99.99

In [16]:
fifth_sixth= customer_list[4:6]
fifth_sixth

['C00006', 'C00007']

In [17]:
third = customer_list[::3]
third

['C00001', 'C00005', 'C00008', 'C00013', 'C00016', 'C00017', 'C00008']

In [18]:
last_two = customer_list[-2:]
last_two

['C00021', 'C00022']

Combining lists

In [21]:
sentence1 = ['cars', 'g-wagon', 'Toyota', 'Benz']

In [22]:
sentence2 = ['Airplanes', 'Helicopter']

In [25]:
sentence_combined = sentence1 + sentence2
sentence_combined

['cars', 'g-wagon', 'Toyota', 'Benz', 'Airplanes', 'Helicopter']

In [26]:
sentence2 * 3

['Airplanes',
 'Helicopter',
 'Airplanes',
 'Helicopter',
 'Airplanes',
 'Helicopter']

Deleting items from the list

In [28]:
del sentence1[2:3]
sentence1

['cars', 'g-wagon']

In [33]:
sentence1.remove('cars')
sentence1

['g-wagon']

In [35]:
# Updated Customer Lists

#Hi there, we need to add customer 'C00009' to `customer_list`, we just found their receipt in the warehouse.

#I've included the original `customer_list` below
customer_list = [
    'C00001', 'C00003', 'C00004','C00005', 'C00006', 
    'C00007', 'C00008', 'C00010', 'C00013', 'C00014', 
    'C00015', 'C00016', 'C00020'
]

customer_list.insert(7, 'C00009')
customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00008',
 'C00009',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00020']

In [44]:
### Adding Saturday Customers

# Add the customers from `saturday_list` to `customer_list` below.

saturday_list = [
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022'
]

Updated_customer_list=  customer_list + saturday_list
Updated_customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00008',
 'C00009',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00020',
 'C00004',
 'C00017',
 'C00019',
 'C00002',
 'C00008',
 'C00021',
 'C00022']

 Hi there!
Sorry to do this to you, but we decided to keep the Friday andSaturday sales separate for now. Can you remove Saturdayâ€™s customers from the customer list?

In [45]:
del Updated_customer_list[-7:]
Updated_customer_list

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00008',
 'C00009',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00020']

C00004 is a friend of the owner and should not be counted in the Black Friday sales, so please remove them from the list.

In [46]:
Updated_customer_list.remove('C00004')
Updated_customer_list

['C00001',
 'C00003',
 'C00005',
 'C00006',
 'C00007',
 'C00008',
 'C00009',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00020']

List functions

In [47]:
customer_ids = [
    'C00004', 'C00007', 'C00015', 'C00016', 'C00020',
    'C00010', 'C00006', 'C00001', 'C00003', 'C00014',
    'C00001', 'C00001', 'C00005', 'C00008', 'C00013',
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022', 'C00006', 'C00018', 'C00018',
    'C00010', 'C00016'
]

subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99,
    599.99, 24.99, 1799.94, 99.99, 254.95,
    29.98, 99.99, 25.98, 649.98, 89.99,
    119.99, 599.99, 649.98, 24.99, 99.99,
    99.99, 5.99, 24.99, 999.96, 99.99,
    399.97, 89.99
]

In [50]:
# 1.   Calculate the average value of a transaction
avg_transactions= sum(subtotals) / len(subtotals)
avg_transactions

323.3877777777776

In [51]:
# 2.   Report how many transactions C00010 made

customer_ids.count('C00010')

2

In [52]:
# 3.   Look up the value of their first transaction
customer_ids.index('C00010')

5

In [53]:
subtotals[customer_ids.index('C00010')]

599.99

In [54]:
# Print a list of sorted IDs (donâ€™t change the list!)
print(sorted(customer_ids))

['C00001', 'C00001', 'C00001', 'C00002', 'C00003', 'C00004', 'C00004', 'C00005', 'C00006', 'C00006', 'C00007', 'C00008', 'C00008', 'C00010', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00016', 'C00017', 'C00018', 'C00018', 'C00019', 'C00020', 'C00021', 'C00022']

# Nested Lists

In [56]:
alphabets = [
    ['a', 'b', 'c'],
    ['d', 'e', 'f'],
    ['g', 'h', 'i']
]
alphabets

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

In [58]:
# grab the second elements in the alphabets
alphabets[1]

['d', 'e', 'f']

In [60]:
# grab the second elements of the second elements
alphabets[1][1]

'e'

Nested lists and functions

In [62]:
# Add k to the second lists
alphabets[1].append('k')
alphabets

[['a', 'b', 'c'], ['d', 'e', 'f', 'k', 'k'], ['g', 'h', 'i']]

In [65]:
# count how many h in alphabets
alphabets[2].count('h')

1

Variable Assignment

In [67]:
alphabets

[['a', 'b', 'c'], ['d', 'e', 'f', 'k', 'k'], ['g', 'h', 'i']]

In [75]:
# using =  to copy a lists
Alphabets= alphabets

In [76]:
# change the second elements in alphabets
alphabets[2] = ['j', 'k', 'l']

In [77]:
Alphabets

[['a', 'b', 'c'], ['d', 'e', 'f', 'k', 'k'], ['j', 'k', 'l']]

In [78]:
# using .copy() to copy a lists
Alphabets1 = alphabets.copy()

In [80]:
Alphabets1

[['a', 'b', 'c'], ['d', 'e', 'f', 'k', 'k'], ['j', 'k', 'l']]

In [81]:
# change an elements
alphabets[0][1] = 'Oh no!'

In [82]:
Alphabets1

[['a', 'Oh no!', 'c'], ['d', 'e', 'f', 'k', 'k'], ['j', 'k', 'l']]

In [89]:
from copy import deepcopy
figures = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
figures

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [90]:
figures1 = deepcopy(figures)

In [91]:
figures1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [94]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

# Create a list with these 5 lists as elements
orders = [
    orders_c00001,
    orders_c00004,
    orders_c00006,
    orders_c00008,
    orders_c00010
]
orders

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [95]:
# Print the second and third orders for the customer that made three total orders
orders[0][1:]

[29.98, 99.99]

In [97]:
# Create a copy of this list and change the transaction values for C00004 (friend of the owner) to 0.0 â€“ without changing the original
orders1 = orders.copy()

In [98]:
orders[1] = [0.0, 0.0]

In [99]:
orders

[[1799.94, 29.98, 99.99],
 [0.0, 0.0],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [100]:
orders1

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]